@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



iframe {
    display: flex;
    margin: 4% auto;
    border: none;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.fullscreen-container {
    width: 854px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background-color: blue;
    border: 3px solid rgb(255, 255, 255);
}

iframe {
    width: 1080px;
    height: 720px;
    display: block;
    width: 100%;
    height: 100%;
}

.fullscreen-container.fullscreen {
    width: 100vw;
    height: 100vh;
    border: none;
}


body {
    background-image: url("background.png");
    background-size: cover;        /* Ensures the image always covers the entire screen */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-position: center center; /* Centers the image both horizontally and vertically */
    background-attachment: fixed;  /* Keeps the background fixed when scrolling */             /* Prevents any unwanted scrollbars */
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    text-align: center;
}

.changelogs {
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
    background-color: rgb(25, 28, 58);
    
}

#main-title {
    font-size: 50px;
}

.changelogs h1, h3, ul {
    color: white;
    font-family: "Pixelify Sans", sans-serif;
}

 

/* This will only apply when the device is in portrait orientation */
@media (orientation: portrait) and (max-width: 425px) {
    .fullscreen-container {
        width: 320px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: blue;
    }

    h1 {
        font-size: 25px;
    }

    #main-title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .changelogs {
        transform: scale(0.7);
    }

    .logo img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1000px) {
    .fullscreen-container {
        width: 700px;
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: blue;
    }

    h1 {
        font-size: 25px;
    }

    #main-title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .changelogs {
        transform: scale(0.7);
    }

    .logo img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}

}






/* Landscape */

@media (orientation: landscape) and (max-width: 800px) {
    .fullscreen-container {
        width: 600px;
        height: 340px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        background-color: blue;
    }

    h1 {
        font-size: 25px;
    }

    #main-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .changelogs {
        transform: scale(0.7);
    }

    .logo img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
}
}




